<article class="max-w-5xl mx-auto">
    <header class="max-w-3xl mx-auto text-center content">
        <h1 class="mb-4">{{ title }}</h1>
        <p>Here's what we could find for "{{ get:q }}".</p>
    </header>

    <section class="max-w-6xl py-6 mx-auto">
        {{ search:results as="results" }}
            {{ if ! results }}
                <h2 class="text-center">No results.</h2>
            {{ else }}
            <section class="grid grid-cols-1 gap-6 py-8 md:grid-cols-2 lg:grid-cols-3">
                {{ results }}
                    {{ partial:blogs/card }}
                {{ /results }}
            </section>
            {{ /if }}
        {{ /search:results }}
    </section>
</article>
